
.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading div {
  position: absolute;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -.7s;
}
@keyframes loading {
  0% {
    top: 38px;
    left: 38px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {

    top: -40px;
    left: -40px;
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}