.parent-main-mint{
    /* margin-left:40% ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.glassmorph-card{
    width: fit-content;
    /* height: 300px;
    width: 300px; */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem;
}

.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}

.counter button {
    all: unset;
    font-size: 1.5rem;
    /* background: white; */
    border-radius: 10px;
    padding: 0.6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}